.pe{
  font-size: 18px;
  text-align: justify;
}

.info{
  margin-top: 40px;
}
 .white-label {
  background-color: white !important; /* Fondo blanco */
  padding: 1px; /* Espacio alrededor del texto del label */
  border: 2px solid #ccc; /* Borde alrededor del label */
  border-radius: 4px; /* Bordes redondeados */
  font-weight: bold; /* Texto en negrita (opcional) */
 }
