/* You can add global styles to this file, and also import other style files */
#texto{
  user-select: auto;
}

body{
  background-color: #475caf;

}

p{
 color: #140f07;
}

 h1{
  color: #dae5f6;
 }

 .white-label {
  background-color: white !important; /* Fondo blanco */
  padding: 1px; /* Espacio alrededor del texto del label */
  border: 2px solid #ccc; /* Borde alrededor del label */
  border-radius: 4px; /* Bordes redondeados */
  font-weight: bold; /* Texto en negrita (opcional) */
}
